.MuiDialog-paperWidthSm {
  max-width: 600px;
  min-width: 438px !important;

}

.delete-button{
    padding: 1em !important;
    background-color: red !important;
    border-radius: 2em !important;
}

.deleteButton{
  background-color:none;
  width: 4rem;
  cursor: pointer;
  position: absolute;
  color:'red'!important;
  border: 1px solid red;
  border-radius: 1rem;
  margin-left: 18%;
  margin-bottom: 7%;
  margin-right: 2%;
  margin-top: 1%;
  z-index: 1;
}
.deleteButton:hover{
  background-color: black;
}

.delete-text{
  color: red;
  padding: 0 !important;
  margin: 0 !important;
}