.MuiDialog-paperWidthSm {
  max-width: 600px;
  min-width: 438px !important;

}

.delete-button{
    padding: 1em !important;
    background-color: red !important;
    border-radius: 2em !important;
}

.deleteButton{
  background-color:none;
  color: white;
  width: 4rem;
  cursor: pointer;
  position: absolute;
  color:'red'!important;
  border: 1px solid #EB5757;
  ;
  border-radius: 1rem;
  margin-left: 62%;
  margin-bottom: 7%;
  margin-right: 1%;
  margin-top: 3%;
  z-index: 1;
}
.deleteButton:hover{
  background-color: black;
}

.delete-text{
  color: red;
  padding: 0 !important;
  margin: 0 !important;
}

.delete-submit-text{
  color: white;
  padding: 0 !important;
  margin: 0 !important;
}

.confirmation-message{
  text-align: left !important;
}

.password-delete{
  border-bottom: inherit;
  border: 1px solid #4F4F4F !important;
  width: 98%;
  height: 2rem;
  border-radius: 0.5em;

}

.password-delete:focus{
  outline: none;
}

.password-label{
  text-align: left;
}
