.MuiDialog-paperWidthSm {
  max-width: 600px;
  min-width: 438px !important;

}

.submit-button{
    padding: 1em !important;
    background-color: #3DB46D !important;
    border-radius: 2em !important;
}
